################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ORM/FileContentIndex
/.vs/ORM/FileContentIndex/737fb943-83cd-41f4-a642-65aa6778e891.vsidx
/.vs/ORM/v17/.suo
/.vs/ORM/DesignTimeBuild/.dtbcache.v2
